In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chhapar,IN,2022-01-22 23:12:00,27.8167,74.4000,53.69,79,81,8.41
1,1,Punta Arenas,CL,2022-01-22 23:12:00,-53.1500,-70.9167,53.71,66,75,6.91
2,2,Beringovskiy,RU,2022-01-22 23:12:00,63.0500,179.3167,-5.19,96,100,9.22
3,3,Victoria,HK,2022-01-22 23:07:43,22.2855,114.1577,66.18,87,100,1.99
4,4,Vila,PT,2022-01-22 23:12:00,42.0304,-8.1588,37.33,72,4,4.25

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## Heatmap of temperature

In [5]:
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Percent Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Percent Cloudiness Heatmap

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Wind Speed Heatmap

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Butaritari,KI,2022-01-22 23:12:01,3.0707,172.7902,82.83,71,92,12.62
12,12,Iracoubo,GF,2022-01-22 23:12:03,5.4802,-53.2011,76.91,83,93,6.62
15,15,Puerto Ayora,EC,2022-01-22 23:12:03,-0.7393,-90.3518,75.38,77,95,8.12
22,22,Hobart,AU,2022-01-22 23:08:25,-42.8794,147.3294,78.03,57,0,3.00
24,24,Bredasdorp,ZA,2022-01-22 23:12:05,-34.5322,20.0403,77.29,87,14,4.14

In [11]:
preferred_cities_df.count()

City_ID       154
City          154
Country       154
Date          154
Lat           154
Lng           154
Max Temp      154
Humidity      154
Cloudiness    154
Wind Speed    154
dtype: int64

## Map Vacation Criteria

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City  Country  Max Temp      Lat       Lng Hotel Name
7     Butaritari       KI     82.83   3.0707  172.7902
12      Iracoubo       GF     76.91   5.4802  -53.2011
15  Puerto Ayora       EC     75.38  -0.7393  -90.3518
22        Hobart       AU     78.03 -42.8794  147.3294
24    Bredasdorp       ZA     77.29 -34.5322   20.0403
26    The Valley       AI     77.83  18.2170  -63.0578
28    Georgetown       MY     79.90   5.4112  100.3354
29          Hilo       US     79.25  19.7297 -155.0900
30    Oranjemund  Namibia     83.10 -28.5500   16.4333
32    Popondetta       PG     81.30  -8.7537  148.2534

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Butaritari,KI,82.83,3.0707,172.7902,Isles Sunset Lodge
12,Iracoubo,GF,76.91,5.4802,-53.2011,Le Gîte d’Iracoubo
15,Puerto Ayora,EC,75.38,-0.7393,-90.3518,Finch Bay Galapagos Hotel
22,Hobart,AU,78.03,-42.8794,147.3294,Mantra on Collins Hobart
24,Bredasdorp,ZA,77.29,-34.5322,20.0403,Bredasdorp Country Manor
26,The Valley,AI,77.83,18.2170,-63.0578,CeBlue Villas & Beach Resort
28,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
29,Hilo,US,79.25,19.7297,-155.0900,Hilo Hawaiian Hotel
30,Oranjemund,Namibia,83.10,-28.5500,16.4333,The Fisherman's Cove
32,Popondetta,PG,81.30,-8.7537,148.2534,Timos Transit House

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                 max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))