## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Rikitea,PF,78.76,overcast clouds,-23.1203,-134.9692,People ThankYou
1,3,Hermanus,ZA,84.90,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
2,7,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang
3,10,Arraial Do Cabo,BR,75.20,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
4,21,Terenos,BR,76.71,clear sky,-20.4422,-54.8603,Rancho Pitzer

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Kununurra"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Kununurra"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Sawtell"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Port Lincoln"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Bunbury"]

vacation_stop3.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
150,630,Bunbury,AU,85.87,clear sky,-33.3333,115.6333,Bunbury Hotel Koombana Bay

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(map(tuple, vacation_start[["Lat", "Lng"]].to_numpy()))[0]
end = tuple(map(tuple, vacation_end[["Lat", "Lng"]].to_numpy()))[0]
stop1 = tuple(map(tuple, vacation_stop1[["Lat", "Lng"]].to_numpy()))[0]
stop2 = tuple(map(tuple, vacation_stop2[["Lat", "Lng"]].to_numpy()))[0]
stop3 = tuple(map(tuple, vacation_stop3[["Lat", "Lng"]].to_numpy()))[0]

stop3

(-33.3333, 115.6333)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start_to_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,185,Kununurra,AU,89.58,broken clouds,-15.7667,128.7333,Hotel Kununurra
1,225,Sawtell,AU,79.12,broken clouds,-30.3833,153.1000,The Bungalow Sawtell
2,256,Port Lincoln,AU,76.48,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
3,630,Bunbury,AU,85.87,clear sky,-33.3333,115.6333,Bunbury Hotel Koombana Bay

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} \N{DEGREE SIGN}F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(-25.2744, 133.7751), zoom_level=4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))